<template>
  <div class="gif" :style="`background-image: url(${gif.images.original.url})`">
    <input class="text-black placeholder-gray-400 bg-white border-gray-300 focus:border-blue-500" ref="url" readonly type="text" :value="gif.images.original.url" style="flex: 1;">
    <button class="text-white bg-blue-500 border border-transparent shadow-sm rounded hover:bg-blue-600" @click="copiarLiga">Copy</button>
    <template v-if="favoritoBoton">
      <button class="text-white bg-green-500 border border-transparent rounded shadow-sm hover:bg-green-600" @click="agregarFavorito(gif)">Favorito</button>
    </template>
    <template v-else>
      <button class="text-white bg-red-500 border border-transparent rounded shadow-sm hover:bg-red-600" @click="quitarFavorito(gif)">Quitar</button>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Gif',
  props: {
    gif: Object,
    favoritoBoton: Boolean
  },
  data(){
    return{
      arrGifFavoritos: [],
    }
  },
  /*mounted() {
    if (localStorage.getItem('arrGifFavoritos')) {
      try {
        this.arrGifFavoritos = JSON.parse(localStorage.getItem('arrGifFavoritos'));
      } catch(e) {
        localStorage.removeItem('arrGifFavoritos');
      }
    }
  },*/
  methods:{
    copiarLiga(){
      this.$refs.url.select();
      document.execCommand('copy');
      this.$refs.url.value = "Gif copiado";
    },
    agregarFavorito(gif) {
      this.$emit('agregar-lista', gif);
      this.$refs.url.value = "Gif guardado";
    },
    quitarFavorito(gif) {
      this.$emit('quitar-lista', gif);
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .gif{
    width: 20rem;
    height: 20rem;
    margin-bottom: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
