<template>
  <div id="id_lista_gifs">
    <gif v-for="gif in gifs" :key="gif.id"  :gif="gif" :favoritoBoton="favoritoBoton" @agregar-lista="agregarFavorito" @quitar-lista="quitarFavorito"></gif>
  </div>
</template>

<script>
import Gif from '@/components/Gif.vue'
export default {
  name: 'Lista de gifs',
  components: {
    Gif
  },
  props: {
    gifs: Array,
    favoritoBoton: Boolean
  },
  methods: {
    agregarFavorito(gif) {
      this.$emit('agregar-lista', gif);
    },
    quitarFavorito(gif) {
      this.$emit('quitar-lista', gif);
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #id_lista_gifs{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
