<template>
  <row container :gutter="12">
    <column>
      <h2>Escriba el filtro del gif que le gustaría buscar</h2>
    </column>
  </row>
  <row container :gutter="12">
    <column>
      <p>
        <input v-model="nuevoFiltro">
        <button class="text-gray-800 bg-white border border-gray-300 shadow-sm hover:text-gray-600" style="padding: 0.3rem;" @click="agregarFiltro">Agregar filtro</button>
      </p>
    </column>
  </row>
  <row container :gutter="12">
    <column>
      <h2 style="padding-top: 2rem;">Filtros:</h2>
    </column>
  </row>
  <row container :gutter="12">
    <column :xs="12" :md="4" :lg="3" v-for="(filtro, n) in filtros" :key="n">
      <p>
        <span class="filtro">{{ filtro }}</span>
        <button @click="quitarFiltro(n)">X</button>
      </p>
    </column>
  </row>
  <!-- Buscador previo a los filtros -->
  <!--<row container :gutter="12">
    <column>
      <input class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" :placeholder="msg" v-model="palabraBusqueda" @input="onInput">
    </column>
  </row>-->
</template>

<script>
export default {
  name: '',
  props: {
    msg: String,
  },
  data(){
    return {
      palabraBusqueda: 'Perros ',
      tiempoFuera: null,
      filtros: [],
      nuevoFiltro: null,
    }
  },
  mounted() {
    if (localStorage.getItem('filtros')) {
      try {
        this.filtros = JSON.parse(localStorage.getItem('filtros'));
        this.palabraBusqueda = this.filtros.join(' ');
        if(this.palabraBusqueda.length > 0){
          this.palabraBusqueda = "Perros " + this.palabraBusqueda;
          this.busqueda();
        }
      } catch(e) {
        localStorage.removeItem('filtros');
      }
    }
  },
  methods: {
    onInput(){
      clearTimeout(this.tiempoFuera);
      this.tiempoFuera = setTimeout( () => {
        this.busqueda();
      }, 500);
    },
    busqueda(){
      fetch(`https://api.giphy.com/v1/gifs/search?api_key=T81oDqS6Lhh5BlWVs8YkhuZ70mDuN2iV&q=${this.palabraBusqueda}&limit=9&lang=es`)
      .then(response => response.json())
      .then(result => {
        this.$emit('arreglo-gifs', result.data);
      });
    },
    agregarFiltro() {
      // asegurarse que el usuario efectivamente ha escrito algo
      if (!this.nuevoFiltro) {
        return;
      }
      this.filtros.push(this.nuevoFiltro);
      this.nuevoFiltro = '';
      this.guardarFiltro();
    },
    quitarFiltro(x) {
      this.filtros.splice(x, 1);
      this.guardarFiltro();
    },
    guardarFiltro() {
      const parsed = JSON.stringify(this.filtros);
      localStorage.setItem('filtros', parsed);
      this.palabraBusqueda = this.filtros.join(' ');
      if(this.palabraBusqueda.length > 0){
          this.palabraBusqueda = "Perros " + this.palabraBusqueda;
          this.busqueda();
        }
      this.busqueda();
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  input {
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 18px;
    outline: 0;
    border: 2px solid #5f5f5f;
    display: block;
    width: 100%;
  }
  input:focus {
    border-color: #0078e0;
  }
</style>
