<template>
  <div id="header">
    <row container :gutter="12">
      <column>
        <h1 style="font-size: xx-large; background-color: cadetblue; padding-left: 3rem; padding-top: 2rem; padding-bottom: 2rem; padding-right: 2rem;">Giphy Funny Dogs</h1>
      </column>
    </row>
    <row container :gutter="12">
      <column>
        <h2 style="padding-left: 3rem; padding-top: 1rem;">Tu buscador favorito de gifs de perros.</h2>
      </column>
    </row>
  </div>
  <div id="body">
    <row container :gutter="12">
      <column>
        <h2>Selecciona la opción que quieras hacer</h2>
      </column>
    </row>
    <tabs :tabList="tabList">
      <!-- Tab buscador -->
      <template v-slot:tabPanel-1>
        <!-- buscador -->
        <search @arreglo-gifs="obtenerGifs" msg="Escribe aquí el gif que quiere buscar"/>
        <!-- Lista de gifs -->
        <giflist :gifs="arrGif" :favoritoBoton="true" @agregar-lista="agregarFavorito" ></giflist>
      </template>
      <!-- Tab Favoritos -->
      <template v-slot:tabPanel-2>
        Gifs favoritos:
        <giflist @actualizar-lista="actualizarLista" :gifs="arrGifFavoritos" :favoritoBoton="false" @quitar-lista="quitarFavorito"></giflist>
      </template>
    </tabs>
    
    <!--<select v-model="selected" class="bg-none block w-full pl-3 pr-10 py-2 transition duration-100 ease-in-out border rounded shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none focus:ring-opacity-50 disabled:opacity-50 disabled:cursor-not-allowed">
      <option disabled value="">Seleccione un elemento</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <span>Seleccionado: {{ selected }}</span>-->
    <row container :gutter="12">
      <column :xs="12" :md="4" :lg="3">
      </column>
    </row>
  </div>
</template>

<script>
import Search from './components/Search.vue'
import giflist from './components/GifList.vue'
import Tabs from "./components/Tabs.vue";

export default {
  name: 'App',
  components: {
    Search,
    giflist,
    Tabs
  },
  data(){
    return{
      arrGif: [],
      arrGifFavoritos: [],
      selected: '',
      tabList: ["Buscador un gif", "Consultar gifs favoritos"],
    }
  },
  mounted() {
    this.recuperarListaFavoritaLocalStorage();
  },
  methods: {
    obtenerGifs(gifsObtenidos){
      this.arrGif = gifsObtenidos;
    },
    actualizarLista(listaActualizada){
      this.arrGifFavoritos = listaActualizada;
    },
    recuperarListaFavoritaLocalStorage(){
      if (localStorage.getItem('arrGifFavoritos')) {
        try {
          this.arrGifFavoritos = JSON.parse(localStorage.getItem('arrGifFavoritos'));
        } catch(e) {
          localStorage.removeItem('arrGifFavoritos');
        }
      }
    },
    agregarFavorito(gif) {
      let posGif = this.arrGifFavoritos.findIndex(g => g.images.original.url === gif.images.original.url);
      if (posGif < 0) {
        this.arrGifFavoritos.push(gif);
      }
      else{
        alert("Ya esta guardado en favoritos");
      }
      this.guardarFavorito();
    },
    quitarFavorito(gif) {
      let posGif = this.arrGifFavoritos.findIndex(g => g.images.original.url === gif.images.original.url);
      if (posGif > -1) {
        this.arrGifFavoritos.splice(posGif, 1);
      }
      this.guardarFavorito();
    },
    guardarFavorito() {
      const parsed = JSON.stringify(this.arrGifFavoritos);
      localStorage.setItem('arrGifFavoritos', parsed);
    },
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}
#body{
  padding-top: 0;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
</style>
